#wrapper{display:grid; grid-template-areas:
           "innergrid"
             "middle";
    text-align: center;
}

#header, #innergrid, #middle, #pepeha {border: black;}

#innergrid{display: grid; grid-area: innergrid; background-color: #C72CFD; grid-template-areas: "home awards about culture contact";
background-color: #C72CFD;}

#home{ grid-area: home;
       text-align:center;
       background-color: #F5F5F5;
       margin-top: 5px;
       margin-bottom: 5px;
       margin-left: 5px;
       margin-right: 5px;
        padding: 16px;
}

#awards{ grid-area: awards;
         text-align:center;
       background-color: #F5F5F5;
       margin-top: 5px;
       margin-bottom: 5px;
       margin-left: 5px;
       margin-right: 5px;
    padding: 16px;
}

#about{ grid-area:about;
       text-align:center;
       background-color: #F5F5F5;
       margin-top: 5px;
       margin-bottom: 5px;
       margin-left: 5px;
       margin-right: 5px;
    padding: 16px;
}

#culture{ grid-area:culture;
       text-align:center;
       background-color: #F5F5F5;
       margin-top: 5px;
       margin-bottom: 5px;
       margin-left: 5px;
       margin-right: 5px;
    padding: 16px;
}

#contact{ grid-area:contact;
        text-align:center;
       background-color: #F5F5F5;
       margin-top: 5px;
       margin-bottom: 5px;
       margin-left: 5px;
       margin-right: 5px;
    padding: 16px;
}

#contact2{}
#middle{ grid-area: middle; background-color: #BA8FF1; text-align: absolute;padding: 128px}